amqp==5.3.1
asgiref==3.11.1
billiard==4.2.4
brotli==1.2.0
celery==5.4.0
certifi==2026.6.17
cffi==2.0.0
chardet==7.4.3
charset-normalizer==3.4.9
click==8.4.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
crispy-tailwind==1.0.3
cron_descriptor==2.1.0
cssselect2==0.9.0
Django==5.1.4
django-auditlog==3.0.0
django-celery-beat==2.7.0
django-cors-headers==4.6.0
django-crispy-forms==2.3
django-environ==0.11.2
django-extensions==3.2.3
django-filter==24.3
django-guardian==2.4.0
django-simple-history==3.8.0
django-timezone-field==7.2.2
djangorestframework==3.15.2
et_xmlfile==2.0.0
fonttools==4.63.0
gunicorn==23.0.0
idna==3.18
kombu==5.6.2
openpyxl==3.1.5
packaging==26.2
pillow==11.1.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.10
pycparser==3.0
pydyf==0.12.1
pyphen==0.17.2
python-barcode==0.15.1
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-decouple==3.8
qrcode==8.0
redis==5.2.1
reportlab==4.2.5
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.1.0
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
vine==5.1.0
wcwidth==0.8.1
weasyprint==63.1
webencodings==0.5.1
whitenoise==6.8.2
zopfli==0.4.3
gunicorn
whitenoise
